#footer {
  @include vendor("display", "flex");
  @include vendor("align-items", "center");
  @include vendor("justify-content", "space-between");
  color: var(--COLOR-TEXT);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  margin: 0;
  line-height: 1.2em;
  padding: 2em;
  overflow: hidden;

  > * {
    margin-bottom: 0;
    transition: all 0.5s ease;
  }

  a {
    color: inherit;

    &:hover {
      color: _palette(accent3, fg-bold);
    }
  }

  ul {
    &.menu {
      cursor: pointer;
      margin: 0.3em;

      li {
        border-left-color: _palette(accent3, border);
        font-size: 0.9em;
      }
    }
  }

  @include breakpoint("<=medium") {
    @include vendor("flex-direction", "column");
    @include vendor("justify-content", "center");
    height: 45%;
  }

  @include breakpoint("<=small") {
    @include vendor("flex-direction", "column");
    @include vendor("justify-content", "center");
    height: 65%;
  }

  @include breakpoint("<=xsmall") {
    @include vendor("flex-direction", "column");
    @include vendor("justify-content", "center");
    height: 75%;
  }
}
