#footer {
  @include vendor("display", "flex");
  @include vendor("align-items", "center");
  @include vendor("justify-content", "space-between");
  position: fixed;
  bottom: 0;
  left:0; 
  width: 100%;
  margin: 0;
  height: 25%;
  line-height: 1.5em;
  padding: 2.2em;
  background: _palette(accent3, bg);
  color: var(--COLOR-TEXT);
  overflow: hidden;

  > * {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover {
      color: _palette(accent3, fg-bold);
    }
  }

  ul {
    &.menu {
      margin: 0;

      li {
        border-left-color: _palette(accent3, border);
        font-size: 0.9em;
      }
    }
  }

  @include breakpoint("<=medium") {
    @include vendor("flex-direction", "column");
    @include vendor("justify-content", "center");

    }
  }

