{% comment %}
 id: head
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @works = site.data.works %}

{% assign work_source = page.work.source %}

{% if work_source != null %}
 {% assign PARAMS = @works[work_source] %}
 {% else %}
 {% assign PARAMS = page.work.data %}
{% endif %}

<section id="work" class="main style3 primary">
  <div class="content">
    
    {% assign header = PARAMS.header %}

    <header>
      <h2>{{ header.title }}</h2>
      <p>{{ header.content }}</p>
    </header>

    {% assign gallery = PARAMS.gallery %}

    <div class="gallery">
      <article class="from-left">
        <a href="images/fulls/01.jpg" class="image fit"
          ><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt=""
        /></a>
      </article>

    </div>
  </div>
</section>
