@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";

@include breakpoints(
  (
    xxlarge: (
      1681px,
      1920px,
    ),
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      1001px,
      1280px,
    ),
    medium: (
      737px,
      1000px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      null,
      480px,
    ),
  )
);



@import "base/reset";
@import "base/page";
@import "base/typography";

@import "components/box";
@import "components/button";
@import "components/form";
@import "components/icon";
@import "components/image";
@import "components/list";
@import "components/actions";
@import "components/icons";
@import "components/section";
@import "components/table";
@import "components/poptrox-popup";
@import "components/gallery";

@import "layout/header";
@import "layout/main";
@import "layout/footer";

@import "components/intro";
@import "components/two";


@import "components/contact";
