{% comment %}
 id: intro
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @intros = site.data.intros %}

{% assign intro_source = page.intro.source %}

{% if intro_source != null %}
 {% assign PARAMS = @intros[intro_source] %}
 {% else %}
 {% assign PARAMS = page.intro.data %}
{% endif %}

{% assign tsparticles = "tsparticles/_index.html" %}

{% capture backgroundImage %}{{ PARAMS.header.backgroundImage }}{% endcapture %}

<section style="background-image: url('{{ backgroundImage }}'); background-repeat: no-repeat; background-position: center; background-attachment: fixed fixed; background-size: cover;" id="intro" class="main style1 dark fullscreen">
  
  <div class="content">

    {% assign header = PARAMS.header %}
    <header>
      <h2>{{ header.title }}</h2>
    </header>

    {% assign body = PARAMS.body %}
    <p>{{ body.content }}</p>
    
    {% assign footer = PARAMS.footer %}
    <footer>
     {% for link in footer.links %}
       <a href="{{ link.href }}">{{ link.name }}</a>
     {% endfor %}
    </footer>

  </div>
</section>