{% comment %}
 id: head
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign logo = "header/logo.html" %}
{% assign navigation = "header/navigation.html" %}

{% assign mobile_menu = "header/mobile-menu.html" %}

{% assign @headers = site.data.headers %}
{% assign header_source = page.header.source %}

{% if header_source != null %}
 {% assign PARAMS = @headers[header_source] %}
 {% else %}
  {% assign PARAMS = page.header.data %}
{% endif %}


<header id="header"> 
 {% include {{ logo }} %}
 {% include {{ navigation }} responsive="hide-md hide-sm hide-xs" %}
</header>
