{% comment %}
 id: head
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @headers = site.data.headers %}

{% assign header_source = page.header.source %}

{% if header_source != null %}
 {% assign PARAMS = @headers[header_source] %}
 {% else %}
  {% assign PARAMS = page.header.data %}
{% endif %}


<header id="header">
   
  {% assign title = PARAMS.title %}
  {% assign logoSource = PARAMS.logo.source %}

  <img class="logo" src="{{ logoSource }}"/>

  
  {% assign navigation = PARAMS.navigation %}

  <nav class="hide-xs hide-sm">
    <ul>
    {% for link in navigation.links %}
      <li>
        <a href="{{ link.href }}">{{ link.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
  <!-- basic dropdown button -->
<div class="dropdown">
  <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
    dropdown menu <i class="icon icon-caret"></i>
  </a>
  <!-- menu component -->
  <ul class="menu">
    ...
  </ul>
</div>

<!-- dropdown button group -->
<div class="dropdown">
  <div class="btn-group">
    <a href="#" class="btn">
      dropdown button
    </a>
    <a href="#" class="btn dropdown-toggle" tabindex="0">
      <i class="icon icon-caret"></i>
    </a>

    <!-- menu component -->
    <ul class="menu">
      ...
    </ul>
  </div>
</div>
</header>
