{% comment %}
 id: head
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign dropdown_menu = "dropdown_menu/_index.html" %}

{% assign @headers = site.data.headers %}

{% assign header_source = page.header.source %}

{% if header_source != null %}
 {% assign PARAMS = @headers[header_source] %}
 {% else %}
  {% assign PARAMS = page.header.data %}
{% endif %}


<header id="header">
   
  {% assign title = PARAMS.title %}
  {% assign logoSource = PARAMS.logo.source %}

  <img class="logo" src="{{ logoSource }}"/>

  
  {% assign navigation = PARAMS.navigation %}


  <nav class="navigation">

    <ul xyz="stagger-8 fade" class="hide-xs hide-sm">
    {% for link in navigation.links %}
      <li>
        <a class="xyz-in hvr-sweep-to-top" href="{{ link.href }}">{{ link.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
 
</div>
</header>
