{% comment %}
 id: head
 type: partial
 version: 11.11.11
{% endcomment %}

{% assign @headers = site.data.headers %}

{% assign header_source = page.header.source %}

{% if header_source != null %}
 {% assign PARAMS = @headers[header_source] %}
 {% else %}
  {% assign PARAMS = page.header.data %}
{% endif %}

<div class="dropdown {{ include.responsive }}">
  <div class="btn-group">
    <a href="#" class="btn">{{ include.name }}</a>
    <a href="#" class="btn dropdown-toggle" tabindex="0">
      <i class="">&</i>
    </a>

    <ul class="menu">

      {% assign @navigation = PARAMS.navigation %}
      
      {% for link in @navigation.links %}
      <li>
        <a href="{{ link.href }}">{{ link.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
